.input {
  border: 1px solid #999999;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9375rem;
  line-height: 22px;
  font-weight: 500;
  padding: 9px 15px;

  &:focus,
  &:focus-visible,
  &:active {
    border-color: #5c90f3;
    outline: none;
  }

  &::placeholder {
    color: #cccccc;
  }
}
