.title {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 33px;
}

.createButton {
  position: absolute;
  top: 5px;
  right: 30px;
}

.head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 27px;
  padding-top: 5px;
  position: relative;
}

.content {
  margin-top: 37px;
  margin-left: 12px;
}

.list {
  display: flex;

  li {
    margin-right: 16px;
  }
}
