.box {
  background-color: #f4f4f4;
  border-radius: 20px;
  padding: 20px;
  width: 740px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.image {
  height: 394px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-bottom: 18px;

  img {
    height: 100%;
    width: 100%;
  }
}

.previewTag {
  position: absolute;
  background-color: #ebf2ff;
  border-radius: 6px;
  font-weight: 500;
  font-size: 0.9375rem;
  padding: 6px 20px;
  line-height: 22px;
  color: #3860ad;
  left: 50%;
  bottom: 27px;
  transform: translateX(-50%);
}

.textarea {
  resize: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
  line-height: 26px;
  border: none;
  outline: none;
  height: calc(100% - 33px - 19px);
  padding: 0;
  color: #000;

  &::placeholder {
    color: #999999;
  }
}

.script {
  position: relative;
  height: 188px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  padding: 19px 30px;
  box-sizing: border-box;
}

.listenButton {
  position: absolute;
  bottom: 19px;
  left: 30px;
}
