.title {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 33px;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
}

.form {
  width: 360px;
  margin: 163px auto 0;
}

.blueLink {
  color: #3860ad;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 20px;
  text-decoration: none;
}

.forgotLink {
  position: absolute;
  top: 2px;
  right: 0;
}

.controls {
  display: flex;
  padding-top: 16px;
  justify-content: center;
}

.additionalText {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 20px;
  text-align: center;
  margin-top: 63px;
}

.strength {
  position: absolute;
  top: 6px;
  right: 0;
  font-size: 0.75rem;
}

.weak {
  color: red;
}

.medium {
  color: orange;
}

.strong {
  color: #46b13d;
}
